@import url('https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap');

body {
   font-family: 'Zen Antique', serif;
  box-shadow: 0px 0px 10px red;
}


#top-bar {
  
  background-color: #A6E8EB;
  width: 100%;
  height: 90px;
  
 border: 2px solid black;
}

#container {
  display: flex;
  justify-content:space-between;
  
}

#logo-div {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-top: 18px;
  margin-left: 10px;
  
}



#input-div {
  margin-top: 28px;
  margin-right: 10px;
}

#navigation a{
  font-size: 30px;
  color:#7F00FF;
  margin-left:180px;
   padding-top: 10px;
}

#navigation {
  border: 2px solid black;
  margin-top: 50px;
  height: 80px;
  
}

.list-item {
  margin-top: 180px;
  margin-bottom: 20px;
}

.list-item-one {
  margin-bottom: 20px;
}



.post-img {
  width: calc(33%);
  height: 200px;
  
}

#main-content-section {
 border: 4px solid #e5be0e;
  margin-left: 24px;
  margin-bottom: 60px;
  
}
#right-sidebar-menu li{
  margin-bottom: 50px;
  margin-right: 10px;
  font-size:20px;
  color:#EF00BF;
    font-family: 'Zen Antique', serif;
}


#main-body {
   display: flex;
  justify-content: space-between;
  align-items: center;
  
}


#sider li{
  font-size: 20px;
  font-family: 'Zen Antique', serif;
  color:#FF760D;
  
}




#page-footer {
  background-color: #0F084E;
  height: 220px;
   
}

#page-footer p {
  color:#E0DFEB;
  font-size: 15px;
  padding: 10px;
}